<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>{% block title %}PIS{% endblock %}</title>
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar">
        <div class="logo">PIS</div>
    </nav>

    <!-- Sidebar -->
    <div class="sidebar">
        <a href="{{ url_for('auth_bp.login_user') }}">User Login</a>
        <a href="{{ url_for('auth_bp.register_user') }}">Register User</a>
        <a href="{{ url_for('auth_bp.admin_login') }}">Admin Login</a>
    </div>

    <!-- Main Content -->
    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <!-- Footer -->
    <footer class="footer">
        <p>Contact: info@pisapp.com | &copy; 2025 PIS</p>
    </footer>


    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
