{% extends 'base.html' %}

{% block title %}User Login - PIS{% endblock %}

{% block content %}
    <h2>User Login</h2>
    <form class="in"  action="{{ url_for('auth_bp.login_user') }}" method="POST">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Enter your email" required>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Enter your password" required>

        <button type="submit">Login</button>
        
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <p class="{{ category }}">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </form>
{% endblock %}
